<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <link rel="stylesheet" href="/bp/static/css/layout.css" />
  <script type="module" src="/bp/static/js/{{ path }}.js"></script>
  <!-- icon -->
  <link rel="shortcut icon" href="/bp/static/image/icon/32x32.ico">
  <link rel="apple-touch-icon" sizes="120x120" href="/bp/static/image/icon/120x120.png"> <!-- iPhone      -->
  <link rel="apple-touch-icon" sizes="152x152" href="/bp/static/image/icon/152x152.png"> <!-- iPhone Plus -->
  <link rel="apple-touch-icon" sizes="167x167" href="/bp/static/image/icon/167x167.png"> <!-- iPad Retina -->
  <link rel="apple-touch-icon" sizes="180x180" href="/bp/static/image/icon/180x180.png"> <!-- iPad Pro    -->
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
